<%= l(@diary.created_on) %>
日記編集ページ
<%= form_with model: @diary, id: "diary_form", local: true do |f| %>
  <%= render "layouts/error_messages", model: f.object %>
  <%# 保存済み画像があれば表示する %>
  <%if @diary.images.attached? %>
    <% @diary.images.each do |image| %>
      <%# 保存済み画像のidをimage-idとして付与 %>
      <div image_id= <%= image.id%>>
        <%= image_tag image.variant(resize_to_fill: [128, 128]) %>
        <%# 保存済み画像削除ボタン(同じimage-idを付与)押した時にjavascript起動 %>
        <%= f.submit "削除", image_id: image.id, diary_id: @diary.id%>
        <%= f.file_field :images, name: 'diary[images][]', id:"default-image"%>
      </div>
    <% end %>
  <% end %>
  <%# 追加画像データの入力フォーム %>
  <%= f.file_field :images, name: 'diary[images][]', id:"item-image" %>
  <%# 画像が選択された場合プレビューを表示 %>
  <div id="image-list"></div>
  メモ
  <%= f.text_area :text, placeholder:"今日あった出来事を残しておきましょう"%>
  体重
  <%= f.text_field :weight %>kg
  <%# 今日の日付も渡す %>
  <%= f.hidden_field :created_on, value: @diary.created_on %>
    <%# すでに今日のご飯記録作成済みの場合 %>
    <% if @today_feed_management %>
    食べた餌の量
    <%= @today_feed_management.amount_eaten %>g
    →<%= f.submit "ご飯記録を更新する", name: "button" %>
    <%# 今日のご飯記録未作成の場合 %>
    <% elsif %>
    食べた餌の量
    ご飯記録が未作成です
    →<%= f.submit "ご飯記録を作成する", name: "button"%>
    <% end %>
  <%= f.submit "保存"%>
<% end %>


