<%= l(@diary.created_on) %>
日記編集ページ
<%= form_with model: @diary, local: true do |f| %>
  <%= render "layouts/error_messages", model: f.object %>
  <%# 画像があれば表示する %>
  <%if @diary.images.attached? %>
    <% @diary.images.each do |image| %>
      <%= image_tag image.variant(resize_to_fill: [128, 128]) %>
    <% end %>
  <% end %>
  <%# 入力した画像データはフォーム送信時にダイレクトアップロード %>
  <%= f.file_field :images, name: 'diary[images][]', id:"item-image" %>
  <%# 画像が選択された場合プレビューを表示 %>
  <div id="image-list"></div>
  メモ
  <%= f.text_area :text, placeholder:"今日あった出来事を残しておきましょう"%>
  体重
  <%= f.text_field :weight %>kg
  <%# 今日の日付も渡す %>
  <%= f.hidden_field :created_on, value: @diary.created_on %>
    <%# すでに今日のご飯記録作成済みの場合 %>
    <% if @today_feed_management %>
    食べた餌の量
    <%= @today_feed_management.amount_eaten %>g
    →<%= f.submit "ご飯記録を更新する", name: "button" %>
    <%# 今日のご飯記録未作成の場合 %>
    <% elsif %>
    食べた餌の量
    ご飯記録が未作成です
    →<%= f.submit "ご飯記録を作成する", name: "button"%>
    <% end %>
  <%= f.submit "保存"%>
<% end %>


