<%= render partial: "layouts/header" %>
  <div class="main">
  <%# トップページへ戻るボタン %>
  <div class="to_top"><%= link_to "/", class:"btn_to_top" do %>              
  <i class="fas fa-undo-alt"></i>
  トップページへ
  <%end%> 
  </div>
    <%= flash[:success] %>
      <div class="diary_new_top">
        <i class="fas fa-cat"></i>
          投稿日記一覧
        <i class="fas fa-cat fa-flip-horizontal"></i>
      </div>
        
    <div class="diary_lists">
        <% @diaries.each do |diary| %> 
          <div class="diary_list">
            <div class="list_content">
              <%= link_to diary_path(diary.id) , class: "list_btn" do %>
                <i class="fas fa-book"></i>
                <span><%= l(diary.created_on)%></span>の日記
                (最終更新
                <%= l(diary.updated_at, format: :long)%>)
              <%end%>
            </div>
            <%# 投稿画像があれば1枚目を表示 %>
            <div class="list_image">
                <% if diary.images.count > 0 %>
                  <div>
                    <%= image_tag diary.images.first.variant(resize_to_fill: [128, 128])%>
                  </div>
                <%else%>
                  <div>
                    投稿画像なし
                  </div>
                <%end%>
            </div>
          </div>
        <% end %> 
    </div>
  </div>
<%= render partial: "layouts/footer" %>