<%= render partial: "layouts/header" %>
  <div class="main">
    <div class="diary_new_top">
      <i class="fas fa-cat"></i>
        <span>ログイン</span>
      <i class="fas fa-cat fa-flip-horizontal"></i>
    </div>

    <div class="diary_new_lists">
      <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
          <div class="diary_new_content">
            <div class="diary_new_list">
              <i class="fas fa-images"></i>
              Eメール
            </div>
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div class="diary_new_content">
            <div class="diary_new_list">
              <i class="fas fa-images"></i>
              パスワード
            </div>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <div class="diary_new_content">
            <% if devise_mapping.rememberable? %>
                <%= f.label :remember_me %>
                <%= f.check_box :remember_me %>
            <% end %>
          </div>
        <%= f.submit "ログイン", class:"submit_btn" %>
      <% end %>      
    </div>
  </div>
<%= render partial: "layouts/footer" %>