買い物リスト


<%= form_with url: shopping_lists_path, method: :post,id: "form" do |f| %>
  <%= f.text_field :item_name, id: "content"%>
  <%= f.submit '追加する' , id: "submit" %>
<% end %>

<div id="list">
</div>

<ul class="post">
  <% @shopping_lists.each do |shopping_list| %>
    <%# 各リストにデータidを付与 %>
    <li>
      <%= check_box_tag :check, shopping_list.id%>
      <%= label_tag :check, shopping_list.item_name, id: shopping_list.id %>
    </li>
  <% end %>
</ul>
